.hero-img {
    position: relative;
}

.hero-img h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #CA3C66; /* Couleur du texte */
    text-shadow: 
        1px 1px 0 #DB6A8F,   /* Contour à droite et en bas */
        -1px -1px 0 #DB6A8F, /* Contour à gauche et en haut */
        1px -1px 0 #DB6A8F,  /* Contour en haut à droite */
        -1px 1px 0 #DB6A8F;  /* Contour en bas à gauche */
    
}


.hero-img img {
    background-size: cover;
    width: 100%;
}