<header class="header">

    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo - direction page d'accueil" height="150px"/></a>

    <h1>Snowtricks</h1>


    <nav>
        <ul class="header_nav">
            <li><a href="/">Home</a></li>
            <li><a href="">Trisks</a></li>
            <li><a href="">Inscription</a></li>
            <li><a href="">Connexion</a></li>
        </ul>
    </nav>

</header>